.square {
  color: rgb(125, 18, 224);
}

.game-container {
  margin-top: 5%;
  text-align: center;
}

.game {
  display: inline-block;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #9555e7;
}

.square:hover {
  background-color: #bea7ff;
}

.game-info ol {
  padding-left: 0;
}

.game-info li {
  margin-bottom: 5px;
}

.game-info button {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid rgb(103, 57, 211);
  background-color: white;
}